@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid rgb(189, 103, 5);
    backdrop-filter: blur(10px);
    display: flex;
}

.nav {
    display: flex;
    width: 89%;
    text-align: right;
    vertical-align: middle;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 10%;
    vertical-align: middle;
}

.nav__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
}



.nav__item--active {
    text-decoration: underline 3px solid rgb(189, 103, 5);
}

.nav__item a {
    text-decoration: none;
    color: black;
}

.nav__item a:hover {
    color: rgba(148, 111, 66, .7);
}

.card {
    background-color: #568259;
    width: 30%;
    border: solid pink 3px;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
}

.card__image {
    width: 200px;
    height: 130px;
    display: block;
    margin: 20px auto;
}

.card p {
    text-align: left;
    line-height: 50px;
    text-decoration: underline;
    text-wrap: balance;
}

.active {
    text-decoration: underline solid orange 3px;
}

.container {
    background-image: url("../media/zetong-li-9Bs33_xwbHQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.login {
    width: 350px;
    background-color: rgba(24, 70, 92, 0.23);
    padding: 40px;
    margin: 100px auto;
    border-radius: 20px;
    color: white;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 10px;
}

.login input[type="text"],
.login input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 20px;
    text-align: center;
    line-height: 1.5;
    text-wrap: balance;
} 

.login a {
    color: white;
    font-size: 13px;
    display: block;
    margin: 10px 0;
}

.login__options {
    text-align: left;
    margin-top: 10px;
}

.login__options label {
    display: inline-block;
}

.login button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin: 15px 0;
    cursor: pointer;
}

.login button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.register {
    margin-top: 15px;
}